form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 300px;
}
input{
	margin: 15px;
	padding: 15px;
}
.error{
	color: #D8000C;
	background-color: #FFBABA;
	margin: 15px;
}