#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

table {
	border-collapse: collapse;
}

table td {
	border: 3px solid black;
	height: 20vh;
	width: 20vh;

	text-align: center;
	vertical-align: middle;
	font-size: 2em;
}

div {
	font-size: 2em;
}

#gagnant{
	padding: 1rem;
	font-size: 35px;


}
#scores{
	padding: 1rem;
	font-size: 35px;
}