html, body {
	padding: 0;
	margin: 0;
}

#app {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

table {
	border-collapse: collapse;
}

td, th {
	height: 6vh;
	width: 6vh;
}

td {
	background-color: rgb(209, 246, 255);
	border: 1px solid lightgrey;
	cursor: pointer;

	transition: all 0.2s;
}

td.sea {
	background-color: lightskyblue;
}

td.ship {
	background-color: rgb(255, 102, 31);
}

ul {
	list-style: none;
}

li {
	line-height: 2em;
	font-size: 2em;
	text-align: right;
}

li.striked {
	text-decoration: line-through;
}
.message{
	text-align: end;
	font-size: 2em;
}
button{
		display: block;
		margin-left: 200px;
		margin-top: 30px;
		padding: 10px;
		background-color: rgb(255, 102, 31);
		border-radius: 10px;
}
