#app {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

#app div {
	height: 2em;
	line-height: 2em;
    text-transform: capitalize;
}

svg path {
	fill: rgb(143, 199, 201);
	transition: fill 0.2s;
	cursor: pointer;
}

svg path:hover {
	fill: rgb(44, 142, 199);
}

svg path.is-active {
	fill: red;
}
